<section class="gym">
  <div class="max-reps">
    <div class="get-swole guns-sm-center">
      <div class="bench"></div>
      <div class="bench"></div>
      <div class="bench">
        <div class="no-max-reps">
          <div class="get-swole room--warning">
            <div class="bench">nested containers</div>
            <div class="bench"></div>
          </div>
          <div class="get-swole room--success">
            <div class="bench">nested containers</div>
            <div class="bench">
              <div class="no-max-reps">
                <div class="get-swole room--white">
                  <div class="bench">hey</div>
                  <div class="bench"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="get-swole room--night">
      <div class="bench">
        with spotter 1
        <div class="spotter"><p>Test spotter</p></div>
      </div>
      <div class="bench">
        with spotter 2
        <div class="spotter"><p>Test spotter</p></div>
      </div>
      <div class="bench">
        with spotter 3
        <div class="spotter"><p>Test spotter</p></div>
      </div>
      <div class="bench">
        with spotter 4
        <div class="spotter"><p>Test spotter</p></div>
      </div>
    </div>
  </div>
</section>

<section class="gym gym--success">
  <div class="max-reps">
    <div class="get-swole leg-day-xs">
      <div class="bench">
        horizontal alignment of divs
      </div>
      <div class="bench bench--primary"></div>
      <div class="bench"></div>
    </div>
  </div>
</section>


<section class="gym">
  <div class="no-max-reps">
    <div class="get-swole test-height swole-md-center">
      <div class="bench">
        default container alignment: center
      </div>
      <div class="bench bench-xs-bottom">
        fix to bottom of container
      </div>
      <div class="bench bench-md-stretch">
        Fill height of container
      </div>
    </div>
  </div>
</section>