<nav class="bar">
  <div class="max-reps">
    <div class="get-swole">
      <a href="/" class="no-gains">Index page</a>

      <div class="no-max-reps juice">
        <div class="get-swole guns-xs-end">
          <a href="/">Some other link</a>
          <a href="/">contact</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="pullup"></div>